Package: enigma2-plugin-skins-luka-fhd-pli
Version: 1.1
Section: base
Priority: required
Architecture: all
Maintainer: mnasr
Description: enigma2-plugin-skins-luka-fhd-pli
Source: enigma2-plugin-skins-luka-fhd-pli.bb
Depends: enigma2-plugin-extensions-bitrate, python3-pillow
Homepage: 
OE: enigma2-plugin-skins-luka-fhd-pli
License: GPLv2+
